<div class="flex justify-between gap-6">
  @if (tasks.length === 0){
  <p class="text-center text-gray-500 text-lg">Aucune tâche disponible</p>
  } @else {


  <!--  En attente -->
  <div class="flex-1 bg-yellow-50 rounded-xl shadow-md p-5">
    <h3 class="text-lg font-bold text-yellow-700 mb-4 flex items-center gap-2">
      <lucide-icon name="clock" class="w-5 h-5"></lucide-icon>
      En attente
    </h3>
    <div class="space-y-3">
      @for (task of tasks; track task.title) {
      @if (task.status === 'En attente') {
      <div class="p-3 rounded-lg shadow-sm border-l-4 transition-transform hover:scale-[1.02]"
        appHighlightStatus="{{task.status}}">
        <div class="flex justify-between items-center">
          <p class="font-semibold" [ngClass]="task.priority | priorityColor">
            {{ task.title }}
          </p>
          <span class="text-xs px-2 py-1 rounded-full bg-white/70 border">{{ task.priority }}</span>
        </div>
      </div>
      }
      }
    </div>
  </div>

  <!--  En cours -->
  <div class="flex-1 bg-blue-50 rounded-xl shadow-md p-5">
    <h3 class="text-lg font-bold text-blue-700 mb-4 flex items-center gap-2">
      <lucide-icon name="rocket" class="w-5 h-5"></lucide-icon>
      En cours
    </h3>
    <div class="space-y-3">
      @for (task of tasks; track task.title) {
      @if (task.status === 'En cours') {
      <div class="p-3 rounded-lg shadow-sm border-l-4 transition-transform hover:scale-[1.02]"
        appHighlightStatus="{{task.status}}">
        <div class="flex justify-between items-center">
          <p class="font-semibold" [ngClass]="task.priority | priorityColor">
            {{ task.title }}
          </p>
          <span class="text-xs px-2 py-1 rounded-full bg-white/70 border">{{ task.priority }}</span>
        </div>
      </div>
      }
      }
    </div>
  </div>

  <!--  Terminé -->
  <div class="flex-1 bg-green-50 rounded-xl shadow-md p-5">
    <h3 class="text-lg font-bold text-green-700 mb-4 flex items-center gap-2">
      <lucide-icon name="check" class="w-5 h-5"></lucide-icon>
      Terminé
    </h3>
    <div class="space-y-3">
      @for (task of tasks; track task.title) {
      @if (task.status === 'Terminé') {
      <div class="p-3 rounded-lg shadow-sm border-l-4 transition-transform hover:scale-[1.02]"
        appHighlightStatus="{{task.status}}">
        <div class="flex justify-between items-center">
          <p class="font-semibold" [ngClass]="task.priority | priorityColor">
            {{ task.title }}
          </p>
          <span class="text-xs px-2 py-1 rounded-full bg-white/70 border">{{ task.priority }}</span>
        </div>
      </div>
      }
      }
    </div>
  </div>
  }

</div>